/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Main */
main {
  text-align: center;
  padding: 20px;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #000000; 
  color: white;
  text-align: center;
  padding: 5px 0;
}

header p{
  font-family: 'Italiana', serif;
}

/* Imágenes */
.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las imágenes */
}

.responsive-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Botones */
.button-container {
  margin-top: 20px;
}

/* Boton 1 */
.button1 {
  display: inline-block;
  background-color: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px;
  transition: background-color 0.3s;
}

.button1:hover {
  background-color: green;
  transform: translateY(-3px);
}

.button1:focus {
  outline: none;
}

/* Boton 2 */
.button2 {
  display: inline-block;
  background-color: red; 
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin: 10px;
  transition: background-color 0.3s;
}

.button2:hover {
  background-color: red;
  transform: translateY(-3px); 
}

.button2:focus {
  outline: none; 
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #000000; /* Color de fondo tipo tomate */
  color: white;
}

